<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetFlowCollectorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NFCollectorService.Properties.Settings>
            <setting name="NetFlowUDPPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="PGHost" serializeAs="String">
                <value>10.0.0.0</value>
            </setting>
            <setting name="PGLogin" serializeAs="String">
                <value>LOGIN</value>
            </setting>
            <setting name="PGPassword" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="PGDatabase" serializeAs="String">
                <value>NetFlow</value>
            </setting>
            <setting name="PGTable" serializeAs="String">
                <value>NetFlowData</value>
            </setting>
            <setting name="PGPort" serializeAs="String">
                <value>5432</value>
            </setting>
        </NFCollectorService.Properties.Settings>
    </userSettings>
</configuration>